/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
nav, output, ruby, section, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, nav, section {
	display: block;
	text-transform: uppercase;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	background: #000000;
	font-family: "museo sans", sans-serif;
	color: #000000;
}

.ui.pointing.menu .item:after{
	top:0;
	left:0;
	border-style: solid;
    border-bottom: thick dotted #ff0000;
}

.ui.inverted.menu .active.item {
    background: rgba(255, 204, 0, 0.5);
}

.ui.inverted.menu .active.item:hover{
    background: rgba(255, 204, 0, 0.7);
}

.ui.segment{
	background-color: rgba(255, 255, 255, 0.9);
}

body{
	max-width: 1440px;
	margin: 0 auto;
	background-color: #FFCC00;
	background-image: repeating-linear-gradient(45deg, #000000 0px, #000000 50px, transparent 50px, transparent 100px, #000000 100px);
}

a{
	color:#ff1493;
}

a:visited {
	color:#ff1493;
}

a:hover {
    color: #ff1493;
}

.menu a{
	color:white;
}

.menu a:visited {
	color:white;
}

.menu a:hover {
    color: #ff1493;
}

#login-buttons a, .accounts-dialog a{
    text-decoration: none;
}

#login-buttons .login-button, .accounts-dialog .login-button{
	background-color: black;
}

.header{
	overflow: hidden;
}

.header .group{
	overflow: hidden;
}

.header h1#logo{
	background: #FFCC00;
	padding: 1rem;
	width: 50%;
	box-sizing: border-box;
	float: left;
}

.header h2{
	background: #000000;
	float: left;
	width: 50%;
	padding: 1rem;
	box-sizing: border-box;
}

.additional-link-container a, .login-close-text{
	color: black;
}



