<template name="challenge">    
    <div class="ui raised padded text container segment">
        <h1 class="ui header">{{challenge/description}}</h1>
    </div>
    <div class="ui raised padded text container segment">
        <h2 class="ui header">Eligible entries</h2>
    </div>
    <div class="ui raised very padded text container">
        {{#each validEntries}}
            {{> judgingEntry }}
        {{/each}}
    </div>
    <div class="ui raised padded text container segment">
        <h2 class="ui header">Awaiting video</h2>
        {{#each entries}}
            <h4 class="ui header">
                <i class="idea icon"></i>
                <div class="content">
                    <a href="{{pathFor 'hack'}}">{{name}}</a> (<a href="{{pathFor 'team'}}">{{teamname team}}</a>)
                </div>
            </h4>
        {{/each}}
    </div>
</template>