<template name="navigation">
    <div class="ui inverted menu">    
        <li class="item">{{> loginButtons}}</li>
        <a class="item {{isActive 'home'}}" href="{{pathFor route='home'}}"><i class="home icon"></i>Home</a>
        <a class="item {{isActive 'hacks'}}" href="{{pathFor route='hacks'}}"><i class="lab icon"></i>All Hacks</a>
        {{#unless isJudge}}
        {{#unless isAdmin}}
        {{#if currentUser}}
        <a class="item {{isActive 'myhacks'}}" href="{{pathFor route='myhacks'}}"><i class="idea icon"></i>Team Hacks</a>
        {{/if}}
        {{/unless}}
        {{/unless}}
        <a class="item {{isActive 'teams'}}" href="{{pathFor route='teams'}}"><i class="users icon"></i>Teams</a>
        {{#unless isJudge}}
        {{#unless isAdmin}}
        {{#if currentUser}}
        <a class="item {{isActive 'myteam'}}" href="{{pathFor route='myteam'}}"><i class="spy icon"></i>My Team</a>
        {{/if}}
        {{/unless}}
        {{/unless}}
        <div class="right menu">
            {{#if isJudge}}
                <a class="item {{isActive 'judging'}}" href="{{pathFor route='judging'}}">Judging</a>
            {{/if}}
            {{#if isAdmin}}
                <a class="item {{isActive 'administration'}}" href="{{pathFor route='administration'}}">Admin</a>
            {{/if}}
        </div>
    </div>
    <div class="header group">
        <h1 id="logo"><a href="#"><img src="/images/logo.png" alt="HAC 1: Hack Manchester 2015" width="50%"></a></h1>
    </div>
</template>